.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
}

.posts {
    max-width: 720px;
    margin: 5rem auto;

    a {
        display: block;

        & + a {
            margin-top: 3rem;
            padding-top: 2rem;
        }

        h3 {
            margin: 1rem 0;
            font-size: 1.5rem;
            line-height: 2rem;
            transition: color 200ms ease;

            &:hover {
                color: var(--blue-900);
            }
        }

        time {
            color: var(--gray-200);
        }

        img {
            max-height: 410px;
            border-radius: 6px;
            border-image: linear-gradient(95deg, #31b4d0, transparent) 1;
        }

        p {
            margin-top: 0.5rem;
            line-height: 1.6;
        }
    }
}

.buttonNavigate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;

    > div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    button {
        background: var(--blue-900);
        border: none;
        display: grid;
        place-items: center;
        border-radius: 5px;
        padding: 3px;
        transition: filter 200ms ease;

        &:hover,
        &:focus {
            filter: brightness(0.9);
        }
    }
}
